<% if instance.errors.any? %>
  <div style="color: red; font-weight: bold; border: 1px solid red; padding: 10px; margin-bottom: 20px;">
    <h2><%= pluralize(instance.errors.count, "error") %> prohibited this <%= instance.class.name %> from being saved:</h2>

    <ul>
      <% instance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
