<% if flash[:notice] %>
  <div style="background-color: #dff0d8; color: #3c763d; padding: 10px; margin-bottom: 20px; border: 1px solid #d6e9c6;">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div style="background-color: #f2dede; color: #a94442; padding: 10px; margin-bottom: 20px; border: 1px solid #ebccd1;">
    <%= flash[:alert] %>
  </div>
<% end %>
